@import url('https://fonts.googleapis.com/css?family=Roboto');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

  body{
    display: flex;
    align-items: center; 
    justify-content: center;
    font-family: Roboto;
    background-color: #0080ff;
    height:100vh;

  }

 
  .card{
    margin: 20px;
    width:700px;
    height: 200px;
    background-color: #291dad;
    display: flex;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0 10px 10px rgba(17, 17, 17, 0.2)



  }

  .section-heading , .section-footer{
    color:rgb(235, 210, 210);
  }
  .section-1{
    padding: 20px;
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color:floralwhite;

  }

  .section-content
  {
    font-weight: 250;
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: none;
  }

  .section-2{
    padding:30px;
    flex : 1 0 70%;
    display: flex;
    flex-direction: column;
    background-color:#fff;

  }

  .section2-heading
  {
    word-spacing: 1px;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #666;
  }

  .progress-bar-container
  {
    width: 150px; 
    margin-left: auto;   /*sets the elemet to the end*/
    background-color: #ddd;
    border-radius: 5px;
    height: 5px;

  }
  .progress-bar{
    background-color: #2A265F;
    width: 66%;
    height: 5px;
    border-radius: 5px;

  }
  .progress-bar-container h6{
    margin-top: 4px;
    text-align: right;
    color: #999;
    text-transform: none;
    font-size: 10px;
    letter-spacing: 0.6px;
  }
  .section2-content
  {
    margin-top: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;

  }

  .next-page
  {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    margin-top: 50px;


  }
  .next-page button
  {
    
    width: 130px;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: 1px solid #2A265F;
    background-color: #2A265F;
    font-size: 15px;
    box-shadow: 3px 8px 25px #ecdcdc;
    margin-right: 10px;
  }
